html {
  font-size: 18px;
}

body {
  overflow-x:hidden;
}

div {
  display: block;
  clear:both;
}

/** Header Section **/

.header {
  float:left;
  width: 100%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-color:firebrick;
  font-size: 1.25rem;
  position: fixed;
  z-index: 100;
}

.name {
  font-size: 1.75rem;
  color: white;
}

nav ul {
  display: flex;
  padding: 0.75rem 0;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-left: 5%;
  margin-right: 5%;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
}

.hover {
  padding: .5rem;
  transition: all .15s linear 150ms;
}

.hover:hover {
  background-color: #f57272;
  border: 2px solid black;
}

/** Div stylings and text **/

.container-text {
  display: flex;
  position: relative;
  width: 100%;
  height: 30rem;
  padding: 2rem 3rem;
  border: 2px solid black;

}

h1 {
  background-color: #bbc3cc;
  padding-top: 4rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white
}

.life-text {
  font-family: helvetica;
  border-bottom: 2px solid black;
  width: 32.5%;
  line-height: 1.75;
  text-align: center;
  margin-left: 2rem;
  padding-bottom: .5rem;
}

.project-image {
  width: 450px;
  height: 350px;
  padding-bottom: .5rem;
  border-bottom: 2px solid black;
}

.github {
  color: blue;
  text-decoration: underline;
}

.github:visited {
  color: purple;
}



/** Media Queries **/

@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  body {
    overflow-x:scroll;
  }

  .life-text {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) {
  body {
    overflow-x:scroll;
  }

  .life-text {
    width: 95%;
  }
}

@media only screen and (min-width:801px) and (max-width: 1023px) {
  body {
    overflow-x:scroll;
  }

  .life-text {
    width: 60%;
  }
}
